# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# FAISS vector database
.faiss/
faiss_index/

# Uploaded PDFs
data/

# Streamlit secrets
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db